<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5 class = "center-text">GOLES ANOTADOS</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-hover no-margins">
                <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>GOLES</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor = "let gol of goles | paginate : {itemsPerPage : 20, currentPage : p }" >
                    <td><small>{{ gol[1] }}</small></td>
                    <td>{{ gol[0] }}</td>
                </tr>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class = "center-text">MAXIMOS GOLEADORES</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>GOLES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  *ngFor = "let gol of goles | paginate : {itemsPerPage : 10, currentPage : p1 }" >
                        <td><small>{{ gol[1] }}</small></td>
                        <td>{{ gol[0] }}</td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>