<div class ="center-text">
        
    <div class="col-lg-6">
        <div class="">
                    <div class="ibox-title">
                        <h5 class = "center-text">AMERICA</h5>
                        <div class="ibox-tools">
                            
                            <a class="collapse-link" >
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>EQUIPO</th>
                                <th>CODIGO</th>
                                <th>ID</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor= "let pais of paises[0]">
                                    <td>{{ pais[0] }}</td>
                                    <td>{{ pais[1] }}</td>
                                    <td>{{ pais[2] }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>

    <div class="col-lg-6">
            <div class="">
                <div class="ibox-title">
                    <h5 class = "center-text">EUROPA</h5>
                    <div class="ibox-tools">
                        
                        <a class="collapse-link" >
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>EQUIPO</th>
                            <th>CODIGO</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let pais of paises[3]">
                                <td>{{ pais[0] }}</td>
                                <td>{{ pais[1] }}</td>
                                <td>{{ pais[2] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="col-lg-6">
            <div class="">
                <div class="ibox-title">
                    <h5 class = "center-text">ASIA</h5>
                    <div class="ibox-tools">
                        
                        <a class="collapse-link" >
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>EQUIPO</th>
                            <th>CODIGO</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let pais of paises[2]">
                                <td>{{ pais[0] }}</td>
                                <td>{{ pais[1] }}</td>
                                <td>{{ pais[2] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="col-lg-6">
            <div class="">
                <div class="ibox-title">
                    <h5 class = "center-text">AFRICA</h5>
                    <div class="ibox-tools">
                        
                        <a class="collapse-link" >
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>EQUIPO</th>
                            <th>CODIGO</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let pais of paises[1]">
                                <td>{{ pais[0] }}</td>
                                <td>{{ pais[1] }}</td>
                                <td>{{ pais[2] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    


           
    


    
    <div class="col-lg-6">
            <div class="">
                <div class="ibox-title">
                    <h5 class = "center-text">OCEANIA</h5>
                    <div class="ibox-tools">
                        
                        <a class="collapse-link" >
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>EQUIPO</th>
                            <th>CODIGO</th>
                            <th>ID</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let pais of paises[4]">
                                <td>{{ pais[0] }}</td>
                                <td>{{ pais[1] }}</td>
                                <td>{{ pais[2] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

            


</div>