<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="120px"
                             src="./assets/img/avatar/{{loginInfo.avatar}}" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    Brasil
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"> <span class="nav-label">Inicio</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('paises')}">
                <a [routerLink]="['./paises']"><span class="nav-label">Paises</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('juegos')}">
                    <a [routerLink]="['./juegos']"><span class="nav-label">Juegos</span></a>
            </li>    
        </ul>

    </div>
</nav>