
<div class="wrapper wrapper-content">
        
        <div class="row">
            <div [ngClass]="{active: activeRoute('paises')}" class="col-lg-3" >
                <div class="ibox float-e-margins"> 
                    <div class="ibox-title" >
                        <span [routerLink]="['/paises']" class="label label-success pull-right">Selecciones</span>
                        <h5>Paises del mundo</h5>
                    </div>
                    <div class="ibox-content">
                        <img src= "./assets/img/avatar/planeta.png" width="128" height="128">
                        <h1  class="no-margins">223</h1>
                        <div class="stat-percent font-bold text-success">100% <i class="fa fa-bolt"></i></div>                        <small>Total de Selecciones</small>
                    </div>
                </div>
            </div>
            
            <div [ngClass]="{active: activeRoute('mundial')}" class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span [routerLink]="['/mundial']" class="label label-info pull-right">Resultados</span>
                        <h5>Partidos</h5>
                    </div>
                    <div class="ibox-content">
                        <img src= "./assets/img/avatar/copaMundo.png" width="100" height="128">
                        <h1 class="no-margins">32</h1>
                        <div class="stat-percent font-bold text-info">15% <i class="fa fa-level-up"></i></div>
                        <small>Participantes Mundial</small>
                    </div>
                </div>
            </div>
            <div [ngClass]="{active: activeRoute('juegos')}" class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span [routerLink]="['/juegos']" class="label label-primary pull-right">Grupos</span>
                        <h5>Primera Fase</h5>
                    </div>
                    <div class="ibox-content">
                        <img src= "./assets/img/avatar/cancha.jpg" width="128" height="128">
                        <h1 class="no-margins">8</h1>
                        <div class="stat-percent font-bold text-navy">32</div>
                        <small>Numero de equipos</small>
                    </div>
                </div>
            </div>
            <div [ngClass]="{active: activeRoute('goles')}" class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span [routerLink]="['/goles']" class="label label-danger pull-right">anotados</span>
                        <h5>Goles</h5>
                    </div>
                    <div class="ibox-content">
                        <img src= "./assets/img/avatar/balon.png" width="128" height="128">
                        <h1 class="no-margins"> 133</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                        <small>Total de Goles</small>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 