<div class = "row" style="width: 100rem;">
  <div class = "col-md-6 mx-auto">
    <div class="card w-500 text-center">
      <div class="card-header">
          Registrar
      </div>
      <div class="card-body">
        <form (submit)="singUp()">
          <div class="form-group">
            <input type="text" [(ngModel)]="user.email" name="email" class ="form-control" placeholder="email" required>
          </div>
          <div class="form-group text-right">
            <input type="password" [(ngModel)]="user.password" name="password" class= "form-control" placeholder="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registrar 
          </button>

        </form>
      </div>
    </div>
  </div>
</div>




 
