<div id="wrapper">
  <navigation [loginInfo]="loginInfo" *ngIf="loginInfo"></navigation>

  <div id="page-wrapper" class="gray-bg">

    <topnavbar></topnavbar>

    <router-outlet></router-outlet>

    <div class="footer">
      <div>
        <strong>Copyright</strong> Santiago Cardona &copy; 2020
      </div>
    </div>
  </div>
</div>