<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class = "center">PARTIDOS</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-hover margin bottom">
                            <thead>
                            <tr>
                                <th class="text-center">EQUIPO 1</th>
                                <th class = "text-center">GOLES</th>
                                <th class = "text-center"> </th>
                                <th class = "text-center">GOLES</th>
                                <th class = "text-center">EQUIPO 2</th>
                                <th class = "text-center">GANADOR</th>
                                <th class = "text-center">JUEGO</th>
                                <th class = "text-center">FECHA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <tr *ngFor = "let encuentro of encuentros" >
                                    
                                <td><small>{{ encuentro.team1_id }}</small></td>
                                <td>{{ encuentro.score1 }}</td>
                                <td> "-" </td>
                                <td> {{ encuentro.score2}} </td>
                                <td> {{ encuentro.team2_id}} </td>
                                <td> {{ encuentro.winner}} </td>
                                <td> {{ encuentro.title}} </td>
                                <td> {{ encuentro.play_at}} </td>
                                
                                
                                
                                    
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


