
<div class ="center-text">
        
        <div class="col-lg-6">
                <div class="">
                    <div class="ibox-title">
                        <h5 class = "center-text">GRUPO A</h5>
                        <div class="ibox-tools">
                            
                            <a class="collapse-link" >
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>EQUIPO</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>GD</th>
                                <th>Puntos</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor= "let partido of partidos[0]">
                                    <td>{{ partido.EQUIPO }}</td>
                                    <td>{{ partido.GF }}</td>
                                    <td>{{ partido.GC }} </td>
                                    <td class="text-navy"> {{ partido.GD }} </td>
                                    <td class="text-navy"> {{ partido.CODE }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO B</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[1]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO C</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[2]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO D</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[3]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO E</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[4]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO F</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[5]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO H</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[6]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            
            <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class = "center-text">GRUPO H</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                    <th>EQUIPO</th>
                                    <th>GF</th>
                                    <th>GC</th>
                                    <th>GD</th>
                                    <th>Puntos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor= "let partido of partidos[7]">
                                        <td>{{ partido.EQUIPO }}</td>
                                        <td>{{ partido.GF }}</td>
                                        <td>{{ partido.GC }} </td>
                                        <td class="text-navy"> {{ partido.GD }} </td>
                                        <td class="text-navy"> {{ partido.CODE }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>

</div>
