<div class = "row">
    <div class = "col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
            SingIn
        </div>
        <div class="card-body">
          <form (submit)="singIn()">
            <div class="form-group">
              <input type="text" [(ngModel)]="user.email" name="email" class ="form-control" placeholder="email" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" [(ngModel)]="user.password" name="password" class= "form-control" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              SingIn 
            </button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
